{% load static %}
<!doctype html>
<html lang="ko">
<head>
	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- css files -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?after">

	<!-- title tag -->
	<title>My Site Pybo</title>
</head>
<body>
<!-- Navigation Bar -->
{% include 'navbar.html' %}
<!-- Template Content start -->
{% block content %}
{% endblock %}
<!-- Template Content end -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>
